<div class="container" style="margin-top:70px ;">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Listado de Clientes</h3>

        <div style="padding: 10px;">
            <button class="btn btn-danger">
                <a class="nav-link link-light" aria-current="page" href="/add"> Nuevo Cliente</a>
            </button>
        </div>

        <table class="table text-center">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-4">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Nro. DNI</th>
                    <th scope="col">Nro. Teléfono</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Cliente 1 -->
                <tr>
                    <td>Ricardo</td>
                    <td>Coello Palomino</td>
                    <td>42174379</td>
                    <td>933588638</td>
                    <td>
                        <div class="">
                            <a href="/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- Cliente 2 -->
                <tr>
                    <td>María</td>
                    <td>Gómez Fernández</td>
                    <td>47895234</td>
                    <td>912345678</td>
                    <td>
                        <div class="">
                            <a href="/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                 <!-- Cliente 3 -->
                <tr>
                    <td>Harumi</td>
                    <td>Chavez Vasquez</td>
                    <td>73351321</td>
                    <td>932769493</td>
                    <td>
                        <div class="">
                            <a href="/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="table-dark">
                    <td colspan="5">REGISTRO DE CLIENTES</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
