<div class="container" style="margin-top:70px ;">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Listado de categorias</h3>

        <div style="padding: 10px;">
        <button class="btn btn-danger"><a class="nav-link  link-light" aria-current="page" href="/categories/add">Nueva categoria</a></button>
        </div>

        <table class="table text-start">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-3">NOMBRE</th>
                    <th scope="col" class="col-6">DESCRIPCIÓN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Audífonos</td>
                    <td>Encuentra una amplia selección de audífonos, desde modelos inalámbricos hasta los más sofisticados con cancelación de ruido.</td>

                    <td>
                        <div class="text-end">
                            <a href="/categories/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar</a>

                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar</a>
                        </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>



