<div class="container" style="margin-top:70px ;">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Listado de productos</h3>

        <div style="padding: 10px;">
            <button class="btn btn-danger">
                <a class="nav-link link-light" aria-current="page" href="/products/add"> Nuevo producto</a>
            </button>
        </div>

        <table class="table text-start">
            <thead>
                <tr class="table-dark">
                    <th scope="col">CÓDIGO</th>
                    <th scope="col">NOMBRE</th>
                    <th scope="col" class="col-4">DESCRIPCIÓN</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">CANTIDAD</th>
                    <th scope="col">PRECIO</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <!-- Producto 1 -->
                <tr>
                    <td>AUD-001</td>
                    <td>Audífono Logitech G733</td>
                    <td>Audífonos inalámbricos con micrófono para juegos diseñados para desempeño y confort. Equipados con todo el sonido envolvente, los filtros de voz y la iluminación avanzada que necesitas para lucir, sonar y jugar con más estilo que nunca.</td>
                    <td>Audífonos</td>
                    <td>2</td>
                    <td>S/ 600.00</td>
                    <td>
                        <div class="text-end">
                            <a href="/products/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- Producto 2 -->
                <tr>
                    <td>TELE-002</td>
                    <td>Televisor Samsung UHD 4K</td>
                    <td>Televisor LED de 55 pulgadas con resolución 4K UHD. Incluye tecnologías HDR y Dolby Audio para una experiencia de visualización inmersiva con colores vibrantes y sonido claro.</td>
                    <td>Electrodoméstico</td>
                    <td>5</td>
                    <td>S/ 2,200.00</td>
                    <td>
                        <div class="text-end">
                            <a href="/products/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
                <!-- Producto 3 -->
                <tr>
                    <td>LAP-003</td>
                    <td>Laptop Dell XPS 13</td>
                    <td>Computadora portátil ultradelgada con pantalla InfinityEdge de 13.3 pulgadas, procesador Intel Core i7, 16GB de RAM y 512GB de almacenamiento SSD.</td>
                    <td>Computadoras</td>
                    <td>3</td>
                    <td>S/ 3,500.00</td>
                    <td>
                        <div class="text-end">
                            <a href="/products/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar
                            </a>
                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
